$white: hsl(0, 0%, 100%);
$red: hsl(0, 100%, 50%);
$blue: hsl(212, 91%, 40%);
$light-gray: hsl(216, 12%, 84%);
$gray: hsl(226, 13%, 45%);
$steel-blue: hsl(224, 40%, 20%);
$dark-gunmetal: hsl(221, 42%, 13%);
$black: hsl(0, 0%, 0%);
