*,
::before,
::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root:not(.dark) {
  --primary-bg: hsl(212, 99%, 50%);
  --secondary-bg: hsl(0, 0%, 100%);
  --primary-font-color: hsl(224, 40%, 20%);
}

:root.dark {
  --primary-bg: hsl(221, 42%, 13%);
  --secondary-bg: hsl(224, 40%, 20%);
  --primary-font-color: hsl(0, 0%, 100%);
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: clamp(1rem, 0.821rem + 0.476vw, 1.25rem);
  background-color: var(--primary-bg);
  font-family: "Heebo", cursive;
  min-height: 100vh;
}

.app-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 50vw;
  min-width: 250px;
  max-width: 1024px;
}

.row {
  border-radius: 10px;
}

.app-header {
  display: flex;
  justify-content: space-between;
  background-color: var(--primary-bg);
  letter-spacing: 0.5px;
}
.app-header .app-heading,
.app-header .theme-type {
  font-family: "Heebo", cursive;
  font-size: clamp(1rem, 0.821rem + 0.476vw, 1.25rem);
  color: var(--primary-font-color);
}
.app-header .theme-button {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  align-items: center;
  background-color: var(--primary-bg);
  border: none;
  cursor: pointer;
}
.app-header .theme-type {
  text-transform: uppercase;
}

.search-form {
  display: flex;
  background-color: var(--secondary-bg);
  padding: 1vw;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  width: 100%;
  gap: 0.1rem;
  flex: 1;
}
.search-form .search-label {
  display: flex;
  align-items: center;
  justify-items: center;
}
.search-form .search-label .search-icon {
  width: 20px;
  fill: hsl(212, 99%, 50%);
}
.search-form .search-input {
  flex: 1;
  color: var(--primary-font-color);
  font-size: clamp(0.75rem, 0.571rem + 0.476vw, 1rem);
  padding: 0.5rem;
  background-color: transparent;
  border: none;
}
.search-form .search-input:focus {
  outline: none;
}
.search-form .search-input::placeholder {
  color: var(--primary-font-color);
}
.search-form .search-input:invalid::placeholder {
  color: red;
}

.search-button {
  background-color: hsl(212, 99%, 50%);
  padding: 0.5em 1em;
  border-radius: 10px;
  border: none;
  color: var(--primary-font-color);
  font-size: clamp(0.75rem, 0.571rem + 0.476vw, 1rem);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.app-result {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1vw;
  background-color: var(--secondary-bg);
  font-size: clamp(0.75rem, 0.571rem + 0.476vw, 1rem);
  color: var(--primary-font-color);
  padding-left: 25%;
  position: relative;
  row-gap: 1vw;
}
.app-result .user-short-overview {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  position: relative;
}
.app-result .user-short-overview .avatar-wrapper {
  position: absolute;
  left: -35%;
  top: 0;
  width: 25%;
}
.app-result .user-short-overview .avatar-wrapper .avatar {
  width: 100%;
  border-radius: 50%;
}
.app-result .user-short-overview .overview-item {
  width: 50%;
  padding-bottom: 3px;
}
.app-result .user-short-overview .user-name {
  font-size: clamp(1rem, 0.821rem + 0.476vw, 1.25rem);
  font-weight: bold;
}
.app-result .user-short-overview .login {
  width: 100%;
  color: hsl(212, 91%, 40%);
}
.app-result .user-short-overview .created-at {
  text-align: right;
}
.app-result .user-short-overview .bio {
  width: 100%;
  padding: 15px 0 10px 0;
}

.user-stats {
  display: flex;
  justify-content: space-between;
  padding: 1vw;
  background-color: var(--primary-bg);
  border-radius: 10px;
}
.user-stats .user-stat {
  display: flex;
  flex-direction: column;
}
.user-stats .user-stat .stat-value {
  font-size: clamp(1rem, 0.821rem + 0.476vw, 1.25rem);
  font-weight: bold;
}

.contact-details {
  display: flex;
  flex-wrap: wrap;
  color: hsl(218, 11%, 80%);
  color: var(--primary-font-color);
  padding-top: 1vw;
  list-style: none;
}
@media (max-width: 768px) {
  .contact-details {
    flex-direction: column;
  }
}
.contact-details .contact-detail {
  width: 50%;
  padding: 5px 15px 5px 5px;
  word-break: break-all;
}
.contact-details .contact-detail a {
  text-decoration: none;
  color: var(--primary-font-color);
}

@media (max-width: 1024px) {
  .avatar-wrapper {
    float: left;
    position: static;
  }
  .user-short-overview {
    display: block;
    line-height: 25px;
  }
  .user-short-overview .overview-item {
    display: inline-block;
    padding-left: 10px;
  }
  .user-short-overview .user-name {
    order: 1;
  }
  .user-short-overview .created-at {
    text-align: left;
    order: 3;
  }
  .user-short-overview .login {
    width: 50%;
    order: 2;
  }
  .user-short-overview .bio {
    order: 4;
  }
}
svg {
  width: 12px;
  fill: var(--primary-font-color);
}

.unavailable {
  color: hsl(226, 13%, 45%);
}

.hidden {
  display: none;
}