@use "sass:math";
@use "sass:meta";

*,
::before,
::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
$--primary-bg: --primary-bg;
$--secondary-bg: --secondary-bg;
$--primary-font-color: --primary-font-color;

$primary-font: "Heebo", cursive;
$search-button: hsl(212, 99%, 50%);
$secondary-font-color: hsl(218, 11%, 80%);
$not-available-item-font-color: hsl(226, 13%, 45%);
$blue-font-color: hsl(212, 91%, 40%);
$base-font-size: clamp(1rem, 0.821rem + 0.476vw, 1.25rem);
$font-size-sm: clamp(0.75rem, 0.571rem + 0.476vw, 1rem);
$base-margin-top: 8rem;
$base-padding: 1vw;

$theme-map-dark: (
  $--primary-bg: hsl(221, 42%, 13%),
  $--secondary-bg: hsl(224, 40%, 20%),
  $--primary-font-color: hsl(0, 0%, 100%),
);

$theme-map-light: (
  $--primary-bg: hsl(212, 99%, 50%),
  $--secondary-bg: hsl(0, 0%, 100%),
  $--primary-font-color: hsl(224, 40%, 20%),
);

@mixin theme-colors($map: ()) {
  @each $key, $value in $map {
    #{$key}: $value;
  }
}

:root:not(.dark) {
  @include theme-colors($theme-map-light);
}

:root.dark {
  @include theme-colors($theme-map-dark);
}

@mixin css-var-styles($key, $value) {
  #{$key}: var(#{$value});
}

$breakpoints: (
  "mobile": 320px,
  "tablet": 768px,
  "desktop": 1024px,
);

@mixin small-mobile {
  @media (max-width: map-get($breakpoints, "mobile")) {
    // <= 320px    // od 0 do 320px
    @content;
  }
}

@mixin mobile {
  @media (max-width: map-get($breakpoints, "tablet")) {
    // <= 768px // od 0 do 768px
    @content;
  }
}

@mixin tablet-down {
  @media (max-width: map-get($breakpoints, "desktop")) {
    @content;
    // <= 1024px // od 0 do 1024px
  }
}

@mixin tablet {
  @media (min-width: map-get($breakpoints, "tablet")) and (max-width: map-get($breakpoints, "desktop")) {
    // >= 768px && <= 1024px
    @content;
  }
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: $base-font-size;
  @include css-var-styles(background-color, $--primary-bg);
  font-family: $primary-font;
  min-height: 100vh;
}

.user-search-app-main-layout {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 50vw;
  min-width: 250px;
  max-width: 1024px;
}

.user-search-app-row {
  border-radius: 10px;
}

.first-row {
  display: flex;
  justify-content: space-between;
  @include css-var-styles(background-color, $--primary-bg);
  letter-spacing: 0.5px;

  .app-heading,
  .theme-type {
    font-family: $primary-font;
    font-size: $base-font-size;
    @include css-var-styles(color, $--primary-font-color);
  }

  .dark-light-theme-btn {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    align-items: center;
    @include css-var-styles(background-color, $--primary-bg);
    border: none;
    cursor: pointer;
  }

  .theme-type {
    text-transform: uppercase;
  }
}

.second-row {
  display: flex;
  @include css-var-styles(background-color, $--secondary-bg);
  padding: $base-padding;
  #search-icon {
    width: 20px;
    fill: $search-button;
  }
  .dev-search-line {
    display: flex;
    width: 100%;
    gap: 0.1rem;
    .dev-search-form {
      display: flex;
      flex: 1;

      .dev-search-input {
        flex: 1;
        @include css-var-styles(color, $--primary-font-color);
        font-size: $font-size-sm;
        padding: 0.5rem;
        background-color: transparent;
        border: none;
        &:focus {
          outline: none;
        }
        &::placeholder {
          @include css-var-styles(color, $--primary-font-color);
        }

        &:invalid::placeholder {
          color: red;
        }
      }
    }
  }
  .search-user-button {
    background-color: $search-button;
    padding: 0.5em 1em;
    border-radius: 10px;
    border: none;
    @include css-var-styles(color, $--primary-font-color);
    font-size: $font-size-sm;
  }
}

.invisible-row {
  display: none;
}

.third-row {
  justify-content: space-between;
  padding: $base-padding;
  @include css-var-styles(background-color, $--secondary-bg);
  font-size: $font-size-sm;
  @include css-var-styles(color, $--primary-font-color);

  .user-layout {
    width: 100%;
    padding-left: 25%;

    .user-fundamentals-profile {
      padding-bottom: $base-padding;
      position: relative;

      .user-icon {
        position: absolute;
        left: -35%;
        top: 0;
        width: 25%;
        #user-avatar {
          width: 100%;
          border-radius: 50%;
        }
      }

      .user-fundamentals-list {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        position: relative;

        .user-fundamental-item {
          width: 50%;
          padding-bottom: 3px;
        }

        #user-name {
          font-size: $base-font-size;
          font-weight: bold;
        }
        #nick-name {
          width: 100%;
          color: $blue-font-color;
        }
        #enroll-date {
          text-align: right;
        }
        #bio {
          width: 100%;
          padding: 15px 0 10px 0;
        }
      }
    }
    .user-achievements {
      display: flex;
      justify-content: space-between;
      padding: $base-padding;
      @include css-var-styles(background-color, $--primary-bg);
      border-radius: 10px;
      .user-achievements-overview {
        display: flex;
        flex-direction: column;
        .user-achievement-info {
          font-size: $base-font-size;
          font-weight: bold;
        }
      }
    }
    .vcard-details {
      display: flex;
      flex-wrap: wrap;
      color: $secondary-font-color;
      @include css-var-styles(color, $--primary-font-color);
      padding-top: $base-padding;

      @include mobile {
        flex-direction: column;
      }
      .vcard-detail {
        width: 50%;
        padding: 5px 15px 5px 5px;
        word-break: break-all;
        a {
          text-decoration: none;
          @include css-var-styles(color, $--primary-font-color);
        }

        &-info-unavailable {
          color: $not-available-item-font-color;
        }
      }
    }
  }

  @include tablet-down {
    .user-layout {
      padding-left: 0;
      .user-fundamentals-profile {
        .user-icon {
          float: left;
          position: static;
        }

        .user-fundamentals-list {
          display: block;
          line-height: 25px;

          .user-fundamental-item {
            display: inline-block;
            padding-left: 10px;
          }
          #user-name {
            order: 1;
          }
          #enroll-date {
            text-align: left;
            order: 3;
          }
          #nick-name {
            width: 50%;
            order: 2;
          }
          #bio {
            order: 4;
          }
        }
      }
    }
  }
}

svg {
  width: 12px;
  @include css-var-styles(fill, $--primary-font-color);
}
