@use "sass:math";
@use "sass:meta";

*,
::before,
::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
$--primary-bg: --primary-bg;
$--secondary-bg: --secondary-bg;
$--primary-font-color: --primary-font-color;

$primary-font: "Heebo", cursive;
$search-button: hsl(212, 99%, 50%);
$secondary-font-color: hsl(218, 11%, 80%);
$not-available-item-font-color: hsl(226, 13%, 45%);
$blue-font-color: hsl(212, 91%, 40%);
$base-font-size: clamp(1rem, 0.821rem + 0.476vw, 1.25rem);
$font-size-sm: clamp(0.75rem, 0.571rem + 0.476vw, 1rem);
$base-margin-top: 8rem;
$base-padding: 1vw;

$theme-map-dark: (
  $--primary-bg: hsl(221, 42%, 13%),
  $--secondary-bg: hsl(224, 40%, 20%),
  $--primary-font-color: hsl(0, 0%, 100%),
);

$theme-map-light: (
  $--primary-bg: hsl(212, 99%, 50%),
  $--secondary-bg: hsl(0, 0%, 100%),
  $--primary-font-color: hsl(224, 40%, 20%),
);

@mixin theme-colors($map: ()) {
  @each $key, $value in $map {
    #{$key}: $value;
  }
}

:root:not(.dark) {
  @include theme-colors($theme-map-light);
}

:root.dark {
  @include theme-colors($theme-map-dark);
}

@mixin css-var-styles($key, $value) {
  #{$key}: var(#{$value});
}

$breakpoints: (
  "mobile": 320px,
  "tablet": 768px,
  "desktop": 1024px,
);

@mixin small-mobile {
  @media (max-width: map-get($breakpoints, "mobile")) {
    // <= 320px    // od 0 do 320px
    @content;
  }
}

@mixin mobile {
  @media (max-width: map-get($breakpoints, "tablet")) {
    // <= 768px // od 0 do 768px
    @content;
  }
}

@mixin tablet-down {
  @media (max-width: map-get($breakpoints, "desktop")) {
    @content;
    // <= 1024px // od 0 do 1024px
  }
}

@mixin tablet {
  @media (min-width: map-get($breakpoints, "tablet")) and (max-width: map-get($breakpoints, "desktop")) {
    // >= 768px && <= 1024px
    @content;
  }
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: $base-font-size;
  @include css-var-styles(background-color, $--primary-bg);
  font-family: $primary-font;
  min-height: 100vh;
}

.app-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 50vw;
  min-width: 250px;
  max-width: 1024px;
}

.row {
  border-radius: 10px;
}

.app-header {
  display: flex;
  justify-content: space-between;
  @include css-var-styles(background-color, $--primary-bg);
  letter-spacing: 0.5px;

  .app-heading,
  .theme-type {
    font-family: $primary-font;
    font-size: $base-font-size;
    @include css-var-styles(color, $--primary-font-color);
  }

  .theme-button {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    align-items: center;
    @include css-var-styles(background-color, $--primary-bg);
    border: none;
    cursor: pointer;
  }

  .theme-type {
    text-transform: uppercase;
  }
}

.search-form {
  display: flex;
  @include css-var-styles(background-color, $--secondary-bg);
  padding: $base-padding;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  width: 100%;
  gap: 0.1rem;
  flex: 1;

  .search-label {
    display: flex;
    align-items: center;
    justify-items: center;

    .search-icon {
      width: 20px;
      fill: $search-button;
    }
  }

  .search-input {
    flex: 1;
    @include css-var-styles(color, $--primary-font-color);
    font-size: $font-size-sm;
    padding: 0.5rem;
    background-color: transparent;
    border: none;
    &:focus {
      outline: none;
    }
    &::placeholder {
      @include css-var-styles(color, $--primary-font-color);
    }

    &:invalid::placeholder {
      color: red;
    }
  }
}
.search-button {
  background-color: $search-button;
  padding: 0.5em 1em;
  border-radius: 10px;
  border: none;
  @include css-var-styles(color, $--primary-font-color);
  font-size: $font-size-sm;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.app-result {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: $base-padding;
  @include css-var-styles(background-color, $--secondary-bg);
  font-size: $font-size-sm;
  @include css-var-styles(color, $--primary-font-color);
  padding-left: 25%;
  position: relative;
  row-gap: $base-padding;

  .user-short-overview {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    position: relative;

    .avatar-wrapper {
      position: absolute;
      left: -35%;
      top: 0;
      width: 25%;
      .avatar {
        width: 100%;
        border-radius: 50%;
      }
    }

    .overview-item {
      width: 50%;
      padding-bottom: 3px;
    }

    .user-name {
      font-size: $base-font-size;
      font-weight: bold;
    }

    .login {
      width: 100%;
      color: $blue-font-color;
    }

    .created-at {
      text-align: right;
    }
    .bio {
      width: 100%;
      padding: 15px 0 10px 0;
    }
  }
}
.user-stats {
  display: flex;
  justify-content: space-between;
  padding: $base-padding;
  @include css-var-styles(background-color, $--primary-bg);
  border-radius: 10px;
  .user-stat {
    display: flex;
    flex-direction: column;
    .stat-value {
      font-size: $base-font-size;
      font-weight: bold;
    }
  }
}
.contact-details {
  display: flex;
  flex-wrap: wrap;
  color: $secondary-font-color;
  @include css-var-styles(color, $--primary-font-color);
  padding-top: $base-padding;
  list-style: none;

  @include mobile {
    flex-direction: column;
  }
  .contact-detail {
    width: 50%;
    padding: 5px 15px 5px 5px;
    word-break: break-all;
    a {
      text-decoration: none;
      @include css-var-styles(color, $--primary-font-color);
    }
  }
}

@include tablet-down {
  .avatar-wrapper {
    float: left;
    position: static;
  }

  .user-short-overview {
    display: block;
    line-height: 25px;

    .overview-item {
      display: inline-block;
      padding-left: 10px;
    }
    .user-name {
      order: 1;
    }
    .created-at {
      text-align: left;
      order: 3;
    }
    .login {
      width: 50%;
      order: 2;
    }
    .bio {
      order: 4;
    }
  }
}

svg {
  width: 12px;
  @include css-var-styles(fill, $--primary-font-color);
}

.unavailable {
  color: $not-available-item-font-color;
}

.hidden {
  display: none;
}
